.toast-container{
    position: fixed !important;
    padding: 10px;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.my-toast{
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(3px);
    box-shadow: 3px 3px 5px 0 rgb(0, 0, 0) !important;
    border-radius: 12px !important;
    border: none !important;
}

.toast-body{
    font-weight: bold;
    color: white;
}
